body {
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    margin: 0;
    padding: 25px;
}

h1 {
    text-align: center;
    color: #003366;
    font-size: 30px;
}

hr {
    border: 1px solid #0059b3;
}

h2 {
    text-align: center;
    color: #0059b3;
    margin: 25px;
}

section {
    background-color: white;
    width: 90%;
    margin: 25px auto;
    padding: 20px;
    border: 2px solid #0059b3;
    border-radius: 12px;
    box-shadow: 0px 4px 10px lightgray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #0059b3;
    color: white;
    padding: 13px;
    border: 1px solid #003366;
}

td {
    padding: 12px;
    border: 1px solid #aaaaaa;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

tr:hover {
    background-color: #e6f2ff;
}

nav
{
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #0059b3;
    padding-top: 25px;
    box-sizing: border-box;
}

nav a
{
    display: block;
    color: white;
    background-color: #0059b3;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: left;
}

nav a:hover
{
    background-color: #003366;
}

section
{
    background-color: white;
    border: 2px solid #0059b3;
    border-radius: 10px;
    padding: 25px;
    margin: 20px 0px;
    margin-left: 220px;
    width: 80%;
    box-shadow: 0px 5px 10px gray;
}
main
{
    margin-left: 220px;
    padding: 20px;
}
Body
{
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 20px;
}

a {
    margin:0px 0px 0px 160px;
    display: inline-block;
    background-color: #0059b3;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #003366;
}
