body
{
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 20px;
}

h1
{
    color: #003366;
    text-align: center;
}

h2
{
    color: #0059b3;
}

nav
{
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #0059b3;
    padding-top: 25px;
    box-sizing: border-box;
}

nav a
{
    display: block;
    color: white;
    background-color: #0059b3;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: left;
}

nav a:hover
{
    background-color: #003366;
}
main
{
    margin-left: 220px;
    padding: 20px;
}

section
{
    background-color: white;
    border: 2px solid #0059b3;
    border-radius: 10px;
    padding: 25px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 5px 10px gray;
}

hr
{
    border: 1px solid #0059b3;
}